/* .banner {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 0px auto;
} */

.animation {
  position: absolute;
  display: block;
  margin: none;
  top: 17%!important;
  left: 10vw;
  /* right: 30vw!important; */
  height: 30px;
  overflow: hidden;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  /* font-size: 2vw; */
  line-height: 40px;
  color: #DDDDDD;
  width: 80vw;
}

.animation__container {
  /* font-weight: 800; */
  overflow: hidden;
  line-height: 30px;
  height: 40px;
  width: 80vw;
}
/* 
.animation__container:before {
  content: '[';
  left: 0;
}

.animation__container:after {
  content: ']';
  right: 0;
} */

.animation__container:after,
.animation__container:before {
  position: absolute;
  top: 0;
  color: rgba(244, 244, 244, 0.8);
  font-size: 2vw;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.animation__container__text {
  position: absolute;
  float: left;
  margin: 0;
  /* left: 3vw; */
}
.animation__container__list a {
  text-decoration: none;
}
.animation__container__list {
  text-decoration: none;
  position: absolute;
  line-height: 40px;
  margin-top: 0;
  padding: 0;
  z-index: 500;
  /* margin-left: 13vw; */
  text-align: left;
  list-style: none;
  overflow: hidden;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.animation__container__list__item {
  line-height: 40px;
  margin: 0;
  /* padding: 2px; */
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}

@-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}

@-moz-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}


@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}

@media screen and (max-width: 900px) {
  .animation {
    top: 15%!important;
  }
}

@media screen and (max-width: 600px) {
  .animation {
    top: 13%!important;
  }
}