.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}
html{
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y:scroll;
}

content {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

content page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: -20px; */
}

content page subdiv {
  width: 98vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* flex-grow: 0.5; */
  padding-left: 10%;
  padding-top: 5vw;
}

footer {
  color: rgba(249, 249, 249, 0.4);
  position: fixed;
  width: 100%;
  bottom: 10px;
}

content page .table { 
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(200, 200, 200, 0.1);
  z-index: 300;
  height: 100%; /* Sets the maximum height of the div to 66% of the viewport height */
  width: 100;
  /* display: inline-flex; */
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 2vh;
}

content page .table b {
  text-transform: uppercase;
  letter-spacing: 0.4vw;
}
content page .table td b {
  text-transform: uppercase;
  letter-spacing:normal;
}
content page .table a {
  text-decoration: none;
}

content page .table a:hover {
  background: rgba(200, 200, 200, 0.4);
}

content h1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 7vh;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1vw;
  line-height: 4vh;
  margin: 1vw 0 1vw;
  max-width: 100vw;
}

content h2 {
  padding-top: 1vh;
  /* padding-bottom: 1vh; */
  font-size: 4vh;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.4vw;
  line-height: 3vh;
  margin: 1vw 0 1vw;
}
content h3 {
  /* padding-top: 1vh; */
  /* padding-bottom: 1vh; */
  font-size: 2.5vh;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.4vw;
  line-height: 3vh;
  margin: 1vw 0 1vw;
}
content #welcome {
  background: #4f4dc4;
}

content #about {
  background: #724ab2;
}

content #layouts {
  background: #3a9e5c;
}

content #layouts #bigwidgets {
  background: #b9572d;
}

content #layouts #biggerwidgets {
  background: #a54d28;
}

content #layouts #hugewidgets {
  background: #904423;
}

content #elements {
  background: #b9693e;
}

content #elements #shishkabobs {
  background: #b9802f;
}

content #elements #bbqkabobs {
  background: #a4722a;
}

content #elements #summerkabobs {
  background: #906424;
}

content #contact {
  background: #88263b;
}

@keyframes fadeInShadow {
  from {
    box-shadow: 0px 0px 14px transparent;
  }
  to {
    box-shadow: -7px 7px 14px rgba(0, 0, 0, 0.4);
  }
}

.fadeInShadow {
  animation: fadeInShadow normal ease-in 3s;
  animation-fill-mode: forwards;
}

#welcomeContent{
  position: relative;
  top: 5vh;
}

/* .animation{
  position: absolute!important;
  top:0!important;
  left: 10vw;
  /* width:30vw; */
  height:100%;
} */
.animation__container{
  position: relative;
  /* top:2vh; */
  /* right:5px; */

}
#title{
  height: 10vw;
  align:left ;
  position: absolute;
  left:10vw;
  top:1%;
  text-align: left;
}
#title h2, hr{
  font-size: 3vh;
}
#welcomebanner{
  height: 5vh;
  width: 100%;
}
.banner{
  width: 100%;
  height: fit-content;
  margin-left:1vh;
  text-align: center;
}
.square{
  height:100%;
  position: fixed;
  overflow: hidden;
  top:20%;
}
.span{
  width: 100%;
  padding-bottom: 2vh;
  padding-left: 10%; 
  padding-right: 10%;
}
.colspan{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  float:left;
  padding-left: 1vw;
  z-index: 0;
}
.column {
  display: block;
  float: left;
  flex-grow: 1;
  /* height: 100%; */
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background:rgba(255, 255, 255, 0.1);
  z-index: 0;
  
}
.column li{
  list-style-type: none;
  /* text-align: left; */
}
@media screen and (max-width: 800px) {
  .column {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    clear: both;
    text-align: center;
    min-width: 100%;
    display: inline-block;
    min-height: 20vw;

  }
}
iframe{
  height: fit-content;
}

a { color: inherit; } 

@media screen and (max-width: 480px) {
  table {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
  th, td {
    display: block;
    word-break: break-word; /* Add this line */
  }
  th {
    visibility: hidden;
    height:0;
  }
  td {
    text-align: left;
    padding-left: 20px;
  }
  td h3 a{
    /* padding-left: 20px; */
  }
}
th, td {
  /* display: block; */
  word-break: break-word; /* Add this line */
  vertical-align: top;
  padding: 10px;
}
td h3 a{
  /* margin-left: -20px; */
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  z-index: 400;
  /* margin-right: 10px; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.table::-webkit-scrollbar {
  /* display: none; */
}
body::-webkit-scrollbar {
  display: none;
}
iframe::-webkit-scrollbar {
  display: none;
}
div::-webkit-scrollbar {
  /* display: none; */
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.contact-header{
  text-align: right;
  padding-right: 10vw;
  position:relative;
  top:40px;
  font-size: 20px;
  letter-spacing: 0.2vw;

}
.contact-header b{
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
}
.contact-header a{
  text-decoration: none;
}
