
.pallete-nav {
  position: fixed;
  height: 200px;
  top: 30vh;
  right: 2vw;
  border-radius: 8px;
  z-index: 500;
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 0.5);
  transform-origin: right;
}


.pallete-nav .reference {
  position: absolute;
  top: 30vh;
  right: 0;
  height: 50px;
  width: 40px;
  background: #fff;
  opacity: .3;
  pointer-events: none;
  z-index: 50;
  transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 8px;
}

.pallete-nav>ol {
  position: fixed;
  right: 2vw;
}

.pallete-nav>ol>li {
  position: absolute;
  right:0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.77, 0, 0.175, 0.5);
  z-index: 20;
  border-radius:8px 0 0 8px;
  cursor: pointer;
  box-shadow: -5px 5px 14px rgba(0, 0, 0, 0.4);
  transform-origin: right;
}

.pallete-nav>ol>li a {
  position: relative;
  display: block;
  line-height: 40px;
  font-weight: 800;
  text-decoration: none;
  text-align: left;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2pt;
  margin-left: 20px;
  width: 255px;
  z-index: 500;
  transform-origin: right;
}


.pallete-nav>ol>li .sub-menu {
  position: absolute;
  z-index: -1;
  list-style-type: none;
  text-align: left;
  height: 0;
  overflow: hidden;
  transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(0px);
  width: 192px;
  margin-left: 1vw;
  border-radius: 0 0 8px 8px;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4);
}
.pallete-nav>ol>li .menu-item {
 /* left:70vw ; */
 /* box-shadow:   0px 0px 14px rgba(0, 0, 0, 0.4); */
}
.pallete-nav>ol>li .sub-menu li a {
  font-weight: 500;
  /* margin-left: 13px; */
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.pallete-nav>ol>li .sub-menu li:hover a {
  /* margin-left: 18px; */
  z-index: 500;
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.pallete-nav>ol>li:before {
  content: "";
  position: fixed;
  box-shadow:   7px 7px 14px rgba(0, 0, 0, 0.4);
  right:2vw;
  width: 40px;
  height: 40px;
  z-index: 500;
  visibility: visible;
  cursor: pointer;
  /* transition-delay: .5s; */
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  /* transition-property: margin-right; */
  transform-origin: right;
}

.pallete-nav>ol>li:nth-child(1) {
  background: #4f4dc4;
}

.pallete-nav>ol>li:nth-child(1):before {
  background: #4f4dc4;
  border-radius: 8px 8px 0 0;
}

.pallete-nav>ol>li:nth-child(2) {
  background: #724ab2;
  top:40px;
}

.pallete-nav>ol>li:nth-child(2):before {
  background: #724ab2;
}

.pallete-nav>ol>li:nth-child(3) {
  background: #3a9e6c;
  /* transition-delay: .4s; */
  top:80px;
}

.pallete-nav>ol>li:nth-child(3):before {
  background: #3a9e6c;
}
/* 
.pallete-nav>ol>li:nth-child(3) ol li:nth-child(1) {
  background: #3a9e6c;
}

.pallete-nav>ol>li:nth-child(3) ol li:nth-child(2) {
  background: #3a9e6c;
}

.pallete-nav>ol>li:nth-child(3) ol li:nth-child(3) {
  background: #3a9e6c;
} */

.pallete-nav>ol>li:nth-child(4) {
  background: #b9693e;
  top:120px;
  /* transition-delay: .4s; */
}

.pallete-nav>ol>li:nth-child(4):before {
  background: #b9693e;
}
/* 
.pallete-nav>ol>li:nth-child(4) ol li:nth-child(1) {
  background: #7e4f35;
}

.pallete-nav>ol>li:nth-child(4) ol li:nth-child(2) {
  background: #7e4f35;
}

.pallete-nav>ol>li:nth-child(4) ol li:nth-child(3) {
  background: #7e4f35;
} */

.pallete-nav>ol>li:nth-child(5) {
  background: #88263b;
  top:160px;
}

.pallete-nav>ol>li:nth-child(5):before {
  background: #88263b;
  border-radius: 0 0 8px 8px;
}

.pallete-nav>ol>li:hover {
  width: 205px;
  transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform-origin: right;
}

.pallete-nav>ol>li:hover:nth-child(1):before {
  border-radius: 8px 0 0 8px;
}

.pallete-nav>ol>li:hover:nth-child(3) {
  border-radius: 8px 0 0 8px;
}

.pallete-nav>ol>li:hover:nth-child(4) {
  border-radius: 8px 0 0 8px;
}

.pallete-nav>ol>li:hover:nth-child(5):before {
  border-radius: 8px 0 0 8px;
}

.pallete-nav>ol>li:hover .sub-menu {
  height: 120px;
  z-index: 500;
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: .5s;
}

.pallete-nav:hover {
  width: 230px;
  /* transition-delay: .5s; */
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform-origin: right;
}

.pallete-nav:hover .reference {
  opacity: 0;
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}