$jacksons-purple: #70407A;
$eye-of-newt: #b33939;
$chilean-fire: #cd6133;
$alameda-ochre: #cc8e35;
$palm-springs-splash: #218c74;
$cyan: #60daaa;

$positionTop:20vh;
$positionLeft:2vw;

$menuItemNo: 5;
$itemHeight: 40px;
$menuWidth: 40px;
$menuHeight: ($itemHeight * $menuItemNo);

$transition: .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);

.pallete-nav{
  position:fixed;
  height:$menuHeight;
  top:$positionTop;
  left:$positionLeft;
  border-radius:8px;
  z-index:1;
  transition:$transition;
  
  .reference{
    position:absolute;
    top:$positionTop;
    left:0;
    height:50px;
    width:$menuWidth;
    background:#fff;
    opacity:.3;
    pointer-events:none;
    z-index:50;
    transition:opacity $transition;
    border-radius:8px;
  }
 
  // first level
  > ol{
    position:fixed;
    left:$positionLeft+1.5vw;
    
    > li{
      width:0;
      height: $itemHeight;
      padding:0;
      overflow:hidden;
      transition:$transition;
      z-index:20;
      border-radius:0 8px 8px 0;
      cursor:pointer;
			// margin-left:1vw;
			box-shadow: 7px 7px 14px rgba(0,0,0,0.4);

      a{
				line-height:40px;
        font-weight:800;
        text-decoration:none;
        color:#fff;
        font-weight:800;
        text-transform:uppercase;
        letter-spacing:2pt;
        margin-left:20px;
        padding:10px
      }
      
      // second level
      .sub-menu{
        position:absolute;
        z-index:-1;
        list-style-type:none;
        text-align:left;
        height:0;
        overflow:hidden;
        transition:$transition;
        transform:translateY(0px);
        width:192px;
        // margin-left:1vw;
        border-radius:0 0 8px 8px;
				box-shadow: 7px 7px 14px rgba(0,0,0,0.4);

				li{
          a{
            font-weight:500;
            padding-left: 13px;
            transition:$transition;
          }
          &:hover{
            a{
              margin-left:18px;
              transition:$transition;
            }
          }
        }
      }
      
      &:before{
        content:"";
        position:fixed;
				box-shadow: 7px 7px 14px rgba(0,0,0,0.4);
        left:$positionLeft;
        width:$menuWidth;
        height:$itemHeight;
				z-index:-1;
        visibility:visible;
        cursor:pointer;
        transition:$transition;
      }
      
      &:nth-child(1){ 
        background: $jacksons-purple;
        &:before{
          background:$jacksons-purple;
          border-radius:8px 8px 0 0;
        }
      }
      
      &:nth-child(2){ 
        background: $eye-of-newt;
        &:before{
          background:$eye-of-newt;
        }
      }
      
      &:nth-child(3){ 
        background: $chilean-fire;
        transition-delay:.4s;
        &:before{
          background:$chilean-fire;
        }
        ol{
          li{
            &:nth-child(1){ background: darken($chilean-fire, 5%) }
            &:nth-child(2){ background: darken($chilean-fire, 10%) }
            &:nth-child(3){ background: darken($chilean-fire, 15%) }
          }
        }
      }
      &:nth-child(4){ 
        background: $alameda-ochre;
        transition-delay:.4s;
        &:before{
          background:$alameda-ochre;
        }
        ol{
          li{
            &:nth-child(1){ background: darken($alameda-ochre, 5%) }
            &:nth-child(2){ background: darken($alameda-ochre, 10%) }
            &:nth-child(3){ background: darken($alameda-ochre, 15%) }
          }
        }
      }
      &:nth-child(5){ 
        background: $palm-springs-splash;
        &:before{
          background:$palm-springs-splash;
          border-radius:0 0  8px 8px;
        }
      }
      
      &:hover{
        width:205px;
        transition:$transition;
        
        &:nth-child(1):before{ 
          border-radius:8px 0 0 0;
        }
        &:nth-child(3){
          border-radius: 0 8px 0 0;
        }
        &:nth-child(4){
          border-radius: 0 8px 0 0;
        }
        &:nth-child(5):before{ 
          border-radius:0 0 0 8px;
        }
        
        .sub-menu{
          height:3*$itemHeight;
					z-index:300;
          transition:$transition;
          transition-delay:.4s;
        }
      }
    }
  }
  
  &:hover{
    width:230px;
    transition:$transition;
    
    .reference{
      opacity:0;
      transition:$transition;
    }
  }
  
}
