#social {
  position: fixed;
  top: 30vh;
  left: 3vh;
  z-index: 300;
  border: 3px solid;
  border-color: rgba(200, 200, 200, 0.4);
  border-radius: 8px;
}

/* Icons */

.socialButton {
  color: #fff;
  background: rgba(200, 200, 200, 0);
  font-size: 4vh;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 6vh;
  height: 5vh;
  padding-top: 0.6vh;
  padding-bottom: 2vh;
  margin: 0.6vh;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}

.socialButton:hover {
  background: rgba(200, 200, 200, 0.4);
}
@media screen and (max-width: 800px) {
  #social {
  visibility: hidden;
  }
}